*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
main{
    width: 100%;
    display: flex;
    justify-content: center;
} */
form{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

label, h3, h4{
    padding: 5px;
}

.datosPersonales{
    display: flex;
    flex-direction: row;
}

.opciones{
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(81, 80, 80);

}

.opciones:nth-last-child(1){
    border-bottom: none;
}


section div{
    padding: 15px;
    border-bottom: 2px solid black;
    
}

.preguntas{
    border-bottom: 1px solid rgb(81, 80, 80);
}
.preguntas:nth-last-child(1){
    border-bottom: none;
}

.signature{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: none;
}

p{
    margin-right: 10px;
    text-align: center;
}

button{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid rgb(252, 131, 1);
    transition: all 0.5s ease-out;
    font-weight: bold;
}

button:hover{
    background-color: rgb(252, 131, 1);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}