main{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 75%;
    border-collapse: collapse;

}

caption{
    text-decoration: underline;
    margin: 10px;
}

 table, tr, th, td{
    border: 3px solid rgb(252, 131, 1);
}
th{
    background-color: rgb(255, 238, 152);
    padding: 10px;
    font-size: 20px;

}

tbody{
    text-align: center;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

section{
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 5px;
}

p{
    margin-top: 10px;
    padding: 5px;
    width: 60ch;
}

span{
    font-size: 20px;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: row; 
    text-align: center;
}
